%p#notice= notice

%p
  %b Name:
  = @task_template.name
%p
  %b Description:
  = @task_template.description
%p
  %b Default Schedule:
  = IceCube::Rule.from_yaml(@task_template.schedule)
%p
  %b Disabled:
  = @task_template.disabled?

= link_to 'Edit', edit_admin_task_template_path(@task_template)
\|
= link_to 'Back', admin_task_templates_path
