%h1 Listing my_tasks

%table
  %tr
    %th Task schedule
    %th Member
    %th Due date
    %th Due time
    %th Complete
    %th Verify
    %th Verified at
    %th Verified by
    %th
    %th
    %th

  - @my_tasks.each do |my_task|
    %tr
      %td= my_task.task_schedule_id
      %td= my_task.member_id
      %td= my_task.due_date
      %td= my_task.due_time
      %td= my_task.complete
      %td= my_task.verify
      %td= my_task.verified_at
      %td= my_task.verified_by
      %td= link_to 'Show', my_task
      %td= link_to 'Edit', edit_my_task_path(my_task)
      %td= link_to 'Destroy', my_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New My task', new_my_task_path
