%p#notice= notice

%p
  %b Name:
  = @todo_template.name
%p
  %b Description:
  = @todo_template.description
%p
  %b Default Schedule:
  = IceCube::Rule.from_yaml(@todo_template.schedule)
%p
  %b Active:
  = @todo_template.active?

= link_to 'Edit', edit_todo_template_path(@todo_template)
\|
= link_to 'Back', todo_templates_path
