%h1 Listing router_models

%table
  %thead
    %tr
      %th Name
      %th Num
      %th
      %th
      %th

  %tbody
    - @router_models.each do |router_model|
      %tr
        %td= router_model.name
        %td= router_model.num
        %td= link_to 'Show', router_model
        %td= link_to 'Edit', edit_router_model_path(router_model)
        %td= link_to 'Destroy', router_model, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Router model', new_router_model_path
