= form_for @content_rating do |f|
  - if @content_rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content_rating.errors.count, "error")} prohibited this content_rating from being saved:"
      %ul
        - @content_rating.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :tag
    = f.text_field :tag
  .field
    = f.label :short
    = f.text_field :short
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'