%h1 Listing families
%table
  %thead
    %tr
      %th Name
      %th Primary contact
      %th{:colspan => "3"}
  %tbody
    - @family.each do |family|
      %tr
        %td= family.name
        %td= family.primary_contact_id
        %td= link_to 'Show', family
        %td= link_to 'Edit', edit_family_path(family)
        %td= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Family', new_family_path if can?(:create, Family)
