%h1 Listing partners

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Api key
      %th
      %th
      %th

  %tbody
    - @partners.each do |partner|
      %tr
        %td= partner.name
        %td= partner.description
        %td= partner.api_key
        %td= link_to 'Show', partner
        %td= link_to 'Edit', edit_partner_path(partner)
        %td= link_to 'Destroy', partner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Partner', new_partner_path