.device{ class: device.managed? ? 'managed' : 'unmanaged'}
  .deivce_name
    = device.name
  .device_type
    Device type:
    = device.device_type.name
  - if device.primary_member.present?
    .device_primary_member
      Default user:
      = device.primary_member.full_name
  .device_management
    Managed:
    = device.managed
    - if device.management_device.present?
      %br
      Managed by:
      = device.management_device.name
  - if can?(:manage, device)
    .device_admin
      = link_to 'Edit', edit_family_device_path(device.family, device)
      = link_to 'Delete', [device.family, device], method: :delete, data: { confirm: 'Are you sure you want to delete this device?  This cannot be undone!' }