= form_for @device do |f|
  - if @device.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :device_type_id
    = f.number_field :device_type_id
  .field
    = f.label :family_id
    = f.number_field :family_id
  .field
    = f.label :managed
    = f.check_box :managed
  .field
    = f.label :management_id
    = f.number_field :management_id
  .field
    = f.label :primary_member_id
    = f.number_field :primary_member_id
  .actions
    = f.submit 'Save'
