%h1 Listing devices

%table
  %tr
    %th Name
    %th Device type
    %th Family
    %th Managed
    %th Management
    %th Primary member
    %th
    %th
    %th

  - @devices.each do |device|
    %tr
      %td= device.name
      %td= device.device_type_id
      %td= device.family_id
      %td= device.managed
      %td= device.management_id
      %td= device.primary_member_id
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
