{{!< default}} {{#post}} <header class="site-header spacer {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h1 class="site-title central spacer">{{title}}</h1>
    </header>

    <main id="content" class="wrapper spacer" role="main">
        <article class="{{post_class}}">
            <section class="post-content">
                {{content}}
            </section>
        </article>
    </main>
    {{/post}}