= form_for @activity_template do |f|
  - if @activity_template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity_template.errors.count, "error")} prohibited this activity_template from being saved:"
      %ul
        - @activity_template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :rec_min_age
    = f.number_field :rec_min_age
  .field
    = f.label :rec_max_age
    = f.number_field :rec_max_age
  .field
    = f.label :cost
    = f.number_field :cost
  .field
    = f.label :reward
    = f.number_field :reward
  .field
    = f.label :time_block
    = f.number_field :time_block
  .field
    = f.label :restricted
    = f.check_box :restricted
  .actions
    = f.submit 'Save'
