%h1= @family.name
.row
  .medium-6.columns
    %h2 Family Members:
    %ul
      - @family.members.each do |member|
        %li
          = link_to member.full_name, family_member_path(@family, member)
          - if member.parent?
            (parent)
          -else
            (child)
            %br
            Task schedule:
            .task_wrap
              = render member.task_schedules
      %li
        = link_to 'Add new family member', new_family_member_path(@family), class: 'btn btn-primary' if can?(:create, Member)
  .medium-6.columns
    %h2 Family Task List
    %ul#family_task_list
      - @family.tasks.each do |task|
        %li
          = render task
      %li
        %a.btn.btn-success{href: "#task_template_add", data: {toggle: "collapse" }, aria: { expanded: "false", controls: "task_template_add"} }
          Add more Task's
        #task_template_add.collapse
          .panel
            .panel-heading
              .panel-title
                %h2 Task Templates
            .panel-body
              %ul
                - @task_templates.each do |task|
                  - if @family.tasks.where(task_template_id: task.id).count == 0
                    %li
                      = render task
                      = link_to 'Add to Family Task List', family_tasks_path(@family, task_template_id: task.id ), method: :post, class: 'btn btn-primary'
              .task_wrap
                Create your own Task:
                = simple_form_for [@family, Task.new], html: { class: 'uk-form' }, wrapper: :uikit_form do |f|
                  = f.input :name
                  = f.input :description
                  .row
                    .col-xs-6.col-xs-offset-3
                      = f.input :required
                  .row
                    .col-xs-6.col-xs-offset-3
                      = f.input :active
                  .row
                    .col-xs-6.col-xs-offset-3
                      =f.input :kudos
                  .row
                    .col-xs-6.col-xs-offset-3
                      =f.label :schedule
                  .row
                    .col-xs-6.col-xs-offset-3
                      =f.select_recurring :schedule
                  .row
                    .col-xs-6.col-xs-offset-3
                      = f.button :submit, class: 'btn btn-success'

%hr
.row
  .medium-6.columns
    %h2 Family Devices:
    = "#{pluralize(@family.managed_device_count, 'device')} being managed:"
    %ul
      - @family.devices.each do |device|
        - if device.managed_devices_count == 0
          %li
            = render device
      %li
        = link_to 'Add new device', new_family_device_path(@family), class: 'btn btn-primary'
        %br
        = link_to 'View all devices', family_devices_path(@family) , class: 'btn btn-default'
  .medium-6.columns
    %h2 Available Activities
    %ul
      = render partial: 'activity_templates/activity_templates_list', locals: { member: current_member, activity_templates: ActivityTemplate.all }
