= form_for @device_type do |f|
  - if @device_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device_type.errors.count, "error")} prohibited this device_type from being saved:"
      %ul
        - @device_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :os
    = f.text_field :os
  .field
    = f.label :version
    = f.text_field :version
  .actions
    = f.submit 'Save'
