%p#notice= notice

%p
  %b Name:
  = @device_type.name
%p
  %b Description:
  = @device_type.description
%p
  %b Os:
  = @device_type.os
%p
  %b Version:
  = @device_type.version

= link_to 'Edit', edit_device_type_path(@device_type)
\|
= link_to 'Back', device_types_path
