.cd-pricing-container.cd-has-margins
  .cd-pricing-switcher
    %p.fieldset
      %input#yearly-2{:checked => "checked", :name => "duration-2", :type => "radio", :value => "yearly"}/
      %label{:for => "yearly-2"} Yearly
      %input#monthly-2{:name => "duration-2", :type => "radio", :value => "monthly"}/
      %label{:for => "monthly-2"} Quarterly
      %span.cd-switch
  %ul.cd-pricing-list.cd-bounce-invert
    %li
      %ul.cd-pricing-wrapper
        %li.is-hidden.is-ended{"data-type" => "monthly"}
          %header.cd-pricing-header
            %h2 Aspen
            .cd-price
              %span.cd-currency $
              %span.cd-value 30
              %span.cd-duration qtr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $10
                \/ Month
                %br
                Paid Quarterly
              %li
                %em 1
                Child
              %li
                %em 1
                Device Managed
              %li
                %em 1 SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Not Included
              %li
                %em Content Filtering
                Not included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Aspen', annual: false), class: 'cd-select'
        %li.is-visible.is-ended{"data-type" => "yearly"}
          %header.cd-pricing-header
            %h2 Aspen
            .cd-price
              %span.cd-currency $
              %span.cd-value 110
              %span.cd-duration yr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $9.17
                \/ Month
                %br
                Paid Annually
              %li
                %em 1
                Child
              %li
                %em 1
                Device Managed
              %li
                %em 1 SmartPlug
                Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Not Included
              %li
                %em Content Filtering
                Not Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Aspen', annual: true), class: 'cd-select'
    %li.cd-popular
      %ul.cd-pricing-wrapper
        %li.is-hidden.is-ended{"data-type" => "monthly"}
          %header.cd-pricing-header
            %h2 Tamarack
            .cd-price
              %span.cd-currency $
              %span.cd-value 60
              %span.cd-duration qtr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $20
                \/ Month
                %br
                Paid Quarterly
              %li
                %em Unlimited
                Children
              %li
                %em 5
                Devices Managed
              %li
                %em 2 SmartPlugs
                Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Tamarack', annual: false), class: 'cd-select'
        %li.is-visible.is-ended{"data-type" => "yearly"}
          %header.cd-pricing-header
            %h2 Tamarack
            .cd-price
              %span.cd-currency $
              %span.cd-value 220
              %span.cd-duration yr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $18.33
                \/ Month
                %br
                Paid Annually
              %li
                %em Unlimited
                Children
              %li
                %em 5
                Devices Managed
              %li
                %em 2 SmartPlugs
                Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Tamarack', annual: true), class: 'cd-select'
    %li
      %ul.cd-pricing-wrapper
        %li.is-hidden.is-ended{"data-type" => "monthly"}
          %header.cd-pricing-header
            %h2 Cedar
            .cd-price
              %span.cd-currency $
              %span.cd-value 90
              %span.cd-duration qtr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $30
                \/ Month
                %br
                Paid Quarterly
              %li
                %em Unlimited
                Children
              %li
                %em Unlimited
                Devices Managed
              %li
                %em 2 SmartPlugs
                Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Cedar', annual: false), class: 'cd-select'
        %li.is-visible.is-ended{"data-type" => "yearly"}
          %header.cd-pricing-header
            %h2 Cedar
            .cd-price
              %span.cd-currency $
              %span.cd-value 300
              %span.cd-duration yr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $25.00
                \/ Month
                %br
                Paid Annually
              %li
                %em Unlimited
                Children
              %li
                %em Unlimited
                Devices Managed
              %li
                %em 3 SmartPlugs
                Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Cedar', annual: true), class: 'cd-select'
  .cd-pricing-container.cd-has-margins
    .padded-block.block-shadow
      The Kudoso Gateway and Kudoso Lockable SmartPlugs remain the property of Kudoso and
      must be returned within 90 days if the Kudoso service has ended or the customer
      will be charged for the purchase price of each.