.cd-pricing-container.cd-has-margins
  .cd-pricing-switcher
    %p.fieldset
      %input#monthly-2{:checked => "checked", :name => "duration-2", :type => "radio", :value => "monthly"}/
      %label{:for => "monthly-2"} Monthly
      %input#yearly-2{:name => "duration-2", :type => "radio", :value => "yearly"}/
      %label{:for => "yearly-2"} Yearly
      %span.cd-switch
  %ul.cd-pricing-list.cd-bounce-invert
    %li
      %ul.cd-pricing-wrapper
        %li.is-visible.is-ended{"data-type" => "monthly"}
          %header.cd-pricing-header
            %h2 Plug Only
            .cd-price
              %span.cd-currency $
              %span.cd-value 5
              %span.cd-duration mth
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em Not
                Available Monthly
              %li
                %em 1
                Child
              %li
                %em 2 Devices
                Managed
              %li
                %em SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Not Included
              %li
                %em Mobile Devices
                Not Included
              %li
                %em Content Filtering
                Not included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Plug', annual: true), class: 'cd-select'
        %li.is-hidden.is-ended{"data-type" => "yearly"}
          %header.cd-pricing-header
            %h2 Plug Only
            .cd-price
              %span.cd-currency $
              %span.cd-value 60
              %span.cd-duration yr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $5
                \/ Month
                %br
                Paid Annually
              %li
                %em 1
                Child
              %li
                %em 2 Devices
                Managed
              %li
                %em SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Not Included
              %li
                %em Mobile Devices
                Not Included
              %li
                %em Content Filtering
                Not Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Plug', annual: true), class: 'cd-select'
    %li.cd-popular
      %ul.cd-pricing-wrapper
        %li.is-visible.is-ended{"data-type" => "monthly"}
          %header.cd-pricing-header
            %h2 Gold
            .cd-price
              %span.cd-currency $
              %span.cd-value 15
              %span.cd-duration mth
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $25
                Setup Fee
              %li
                %em 5
                Children
              %li
                %em 5
                Devices Managed
              %li
                %em SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Gold', annual: false), class: 'cd-select'
        %li.is-hidden.is-ended{"data-type" => "yearly"}
          %header.cd-pricing-header
            %h2 Gold
            .cd-price
              %span.cd-currency $
              %span.cd-value 165
              %span.cd-duration yr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $13.75
                \/ Month
                %br
                Paid Annually / No Setup Fee
              %li
                %em 5
                Children
              %li
                %em 5
                Devices Managed
              %li
                %em SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Gold', annual: true), class: 'cd-select'
    %li
      %ul.cd-pricing-wrapper
        %li.is-visible.is-ended{"data-type" => "monthly"}
          %header.cd-pricing-header
            %h2 Platinum
            .cd-price
              %span.cd-currency $
              %span.cd-value 25
              %span.cd-duration mth
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $25
                Setup Fee
              %li
                %em 10
                Children
              %li
                %em 15
                Devices Managed
              %li
                %em SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Platinum', annual: false), class: 'cd-select'
        %li.is-hidden.is-ended{"data-type" => "yearly"}
          %header.cd-pricing-header
            %h2 Platinum
            .cd-price
              %span.cd-currency $
              %span.cd-value 275
              %span.cd-duration yr
          .cd-pricing-body
            %ul.cd-pricing-features
              %li
                %em $22.92
                \/ Month
                %br
                Paid Annually / No Setup Fee
              %li
                %em 10
                Children
              %li
                %em 15
                Devices Managed
              %li
                %em SmartPlug
                Control Included
              %li
                %em Kudoso Gateway
                Included
              %li
                %em Mobile Devices
                Included
              %li
                %em Content Filtering
                Included
          %footer.cd-pricing-footer
            = link_to 'Select', pre_signup_path(plan: 'Platinum', annual: true), class: 'cd-select'
  .cd-pricing-container.cd-has-margins
    .padded-block.block-shadow
      The Kudoso Plug is purchased separately. Annual plans have no setup fee and include 1 month free!