%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle.k-founders
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-9-10.uk-width-small-1-1.uk-container-center
      %header
        %h2.uk-contrast Join our Family!
        %p.first
          It takes a villiage to raise a child, and it takes a family to launch Kudoso.  We'd like
          to invite you join our family:
        %h2.uk-contrast
          Founder's Circle
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong It's Completely Free!
      %p.uk-width-medium-4-5.uk-container-center
        Kudoso is looking for families that want to help craft and influence the future of our product and services.
      %p
        We will be selecting up to 100 families to join the Founder's Circle.  If you are selected, you'll receive Kudoso
        %b
          FREE FOR LIFE!
      %p
        All we ask is that you give us honest feedback by completing a short monthly survey (15 questions) about our service.
        Additionally you can attend a quarterly Fireside Virtual Chat and engage directly over video conference with Kudoso's
        top management and product team.
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Kudoso Protector FREE FOR LIFE
            %br
            Regularly $239/yr
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            One Kudoso Gateway and Kudoso Plug included
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Be the first to get Kudoso and all our newest features
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Dedicated telephone and email support just for Founder's Circle Members
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Protect up to 5 devices in and out of your home
            %br
            Add more for a small fee
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Apple iOS, Android, Game Consoles, Mac, PC and Televisions
%section.k-section.uk-clearfix
  .uk-container.uk-container-center
    %article
      %header
        %h2
          %strong Register for Kudoso's Founder's Circle
      %p
        Kudoso is currently only available in the United States.  Complete this short questionaire and we let you know if you
        are selected to be in the founder's circle.  Preference is given to our original Kickstarter backers.  Other members
        selected by demographic information to ensure all aspects of Kudoso are exercised by Founder's Circle members.
      .uk-container-center.uk-width-small-1-1.uk-width-medium-6-10.uk-width-large-6-10
        %form#founders-form.uk-form
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-4-10{:name => "first_name", :placeholder => "Your First Name", :type => "text", :value => "", :id => 'signup-first-name'}/
            %input.uk-form-large.uk-width-4-10{:name => "last_name", :placeholder => "Your Last Name", :type => "text", :value => "", :id => 'signup-last-name'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-8-10{:name => "email", :placeholder => "Your Email Address", :type => "email", :value => "", :id => 'signup-email'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-4-10{:name => "password", :placeholder => "Enter a Password", :type => "password", :value => "", :id => 'signup-password'}/
            %input.uk-form-large.uk-width-4-10{:name => "password_confirmation", :placeholder => "Confirm Password", :type => "password", :value => "", :id => 'signup-password-confirmation'}/
          .uk-form-row.uk-text-center
            %hr
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-8-10{:name => "address", :placeholder => "Shipping Address", :type => "text", :value => "", :id => 'signup-address'}/
          .uk-form-row.uk-text-center
            %input.uk-form-large.uk-width-4-10{:name => "city", :placeholder => "City", :type => "text", :value => "", :id => 'signup-city'}/
            %select.uk-form-large.uk-width-2-10{:name => "state", :value => "", :id => 'signup-state'}
              - CS.states(:us).each do |key, value|
                %option{value: "#{key}", selected: ("#{key}" == "MT" ? true : false) }
                  #{value}
            %input.uk-form-large.uk-width-2-10{:name => "zip", :placeholder => "Zip Code", :type => "text", :value => "", :id => 'signup-zip'}/
          .uk-form-row.uk-text-center
            %hr
          .uk-form-row.uk-text-center
            .uk-grid
              .uk-form-large.uk-width-1-10
              .uk-form-large.uk-width-6-10
                How many children ages 2-6 do you have in your home and want to connect to Kudoso?
              .uk-form-large.uk-width-2-10
                %select.uk-form-large{:name => "Kids-2-6", :value => "0", :id => 'signup-kids-2-6'}
                  - 6.times do |ctr|
                    %option{value: "#{ctr}", selected: ctr == 0}
                      #{ctr}
            .uk-grid
              .uk-form-large.uk-width-1-10
              .uk-form-large.uk-width-6-10
                How many children ages 7-12 do you have in your home and want to connect to Kudoso?
              .uk-form-large.uk-width-2-10
                %select.uk-form-large{:name => "Kids-7-12", :value => "0", :id => 'signup-kids-7-12'}
                  - 6.times do |ctr|
                    %option{value: "#{ctr}", selected: ctr == 0}
                      #{ctr}
            .uk-grid
              .uk-form-large.uk-width-1-10
              .uk-form-large.uk-width-6-10
                How many children ages 13-18 do you have in your home and want to connect to Kudoso?
              .uk-form-large.uk-width-2-10
                %select.uk-form-large{:name => "Kids-13-18", :value => "0", :id => 'signup-kids-13-18'}
                  - 6.times do |ctr|
                    %option{value: "#{ctr}", selected: ctr == 0}
                      #{ctr}
            .uk-grid
              .uk-form-large.uk-width-1-10
              .uk-form-large.uk-width-6-10
                How many mobile devices do you have in your home and want to connect to Kudoso?
              .uk-form-large.uk-width-2-10
                %select.uk-form-large{:name => "Mobile", :value => "0", :id => 'signup-mobile-devices'}
                  - 10.times do |ctr|
                    %option{value: "#{ctr}", selected: ctr == 0}
                      #{ctr}
            .uk-grid
              .uk-form-large.uk-width-1-10
              .uk-form-large.uk-width-6-10
                How many televisions, game consoles or other consumer electronics do you have in your home and want to connect to Kudoso?
              .uk-form-large.uk-width-2-10
                %select.uk-form-large{:name => "Electronics", :value => "0", :id => 'signup-plug-devices'}
                  - 10.times do |ctr|
                    %option{value: "#{ctr}", selected: ctr == 0}
                      #{ctr}
            .uk-grid
              .uk-form-large.uk-width-1-10
              .uk-form-large.uk-width-6-10
                How many computers (mac or windows) do you have in your home and want to connect to Kudoso?
              .uk-form-large.uk-width-2-10
                %select.uk-form-large{:name => "Computers", :value => "0", :id => 'signup-computer-devices'}
                  - 10.times do |ctr|
                    %option{value: "#{ctr}", selected: ctr == 0}
                      #{ctr}
          .uk-form-row.uk-text-center
            .payment-errors.uk-form-danger
          .uk-form-row.uk-text-center
            %button.uk-button.uk-button-primary.uk-button-large.uk-width-8-10{:name => "Register", type: 'button', onclick: "register_founders_circle(); return false;"} Register for Founder's Circle
          .uk-form-row.uk-text-center
            %hr
        .uk-container-center.uk-width-small-1-1.uk-width-medium-6-10.uk-width-large-6-10
          = simple_form_for @contact, html: { class: 'uk-form '}  do |f|
            .uk-form-row.uk-text-center
              = f.input :first_name, label: false, placeholder: 'First Name', class: 'uk-form-large.uk-width-4-10'
              = f.input :last_name, label: false, placeholder: 'Last Name', class: 'uk-form-large.uk-width-4-10'
            = f.input :address1
            = f.input :address2
            = f.input :city
            = f.input :state
            = f.input :zip
            = f.simple_fields_for :fc_questionaire do |q|
              = q.input :kids_2_6
              = q.input :kids_7_12
              = q.input :kids_13_18
              = q.input :mobile_devices
              = q.input :consumer_electronics
              = q.input :computers
              = q.input :favorite_feature
              = q.input :prefer_buy
              = q.input :comments

:javascript
  function register_founders_circle() {
    alert( JSON.stringify($("#founders-form").serializeArray()) );
    return false;
  }