%section.k-intro.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle.k-founders
  .uk-container.uk-container-center
    %article.uk-width-large-6-10.uk-width-medium-9-10.uk-width-small-1-1.uk-container-center
      %header
        %h2.uk-contrast Join our Family!
        %p.first
          It takes a villiage to raise a child, and it takes a family to launch Kudoso.  We'd like
          to invite you join our family:
        %h2.uk-contrast
          Founder's Circle
%section#features.k-features.k-section.uk-clearfix.uk-flex.uk-flex-center.uk-flex-middle
  .uk-container.uk-container-center
    %article
      %h2
        %strong It's Completely Free!
      %p.uk-width-medium-4-5.uk-container-center
        Kudoso is looking for families that want to help craft and influence the future of our product and services.
      %p
        We will be selecting up to 100 families to join the Founder's Circle.  If you are selected, you'll receive Kudoso
        %b
          FREE FOR LIFE!
      %p
        All we ask is that you give us honest feedback by completing a short monthly survey (15 questions) about our service.
        Additionally you can attend a quarterly Fireside Virtual Chat and engage directly over video conference with Kudoso's
        top management and product team.
      %ul.k-feature-set.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-grid-large
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Kudoso Protector FREE FOR LIFE
            %br
            Regularly $239/yr
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            One Kudoso Gateway and Kudoso Plug included
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Be the first to get Kudoso and all our newest features
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Dedicated telephone and email support just for Founder's Circle Members
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Protect up to 5 devices in and out of your home
            %small
              (Add more for a small fee)
        %li.k-feature
          %i.k-feature-icon
            %svg.nc-icon.outline{:height => "48px", :viewbox => "0 0 48 48", :width => "48px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %g{:transform => "translate(0, 0)"}
                %polyline{"data-color" => "color-2", :fill => "none", :points => " 12,46 2,46 2,24 12,24 ", :stroke => "#fdb941", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %path{:d => "M12,24l6-22l0,0 c3.3,0,6,2.7,6,6v12h15c3.7,0,6.5,3.3,5.9,6.9l-2.2,14c-0.5,2.9-3,5.1-5.9,5.1H12V24z", :fill => "none", :stroke => "#0072f4", "stroke-linecap" => "square", "stroke-linejoin" => "miter", "stroke-miterlimit" => "10", "stroke-width" => "2"}
          %p.k-feature-desc.k-large-text
            Apple iOS, Android, Game Consoles, Mac, PC and Televisions
%section.k-section.uk-clearfix
  .uk-container.uk-container-center
    %article
      %header
        %h2
          %strong Register for Kudoso's Founder's Circle
      %p
        Kudoso is currently only available in the United States.  Complete this short questionaire and we let you know if you
        are selected to be in the founder's circle.  Preference is given to our original Kickstarter backers.  Other members
        selected by demographic information to ensure all aspects of Kudoso are exercised by Founder's Circle members.
      #register_form_wrap.uk-container-center.uk-width-small-1-1.uk-width-medium-6-10.uk-width-large-6-10
        = simple_form_for @contact, html: { class: 'uk-form '}, wrapper: :uikit_form, remote: true do |f|
          = f.input :contact_type_id, as: :hidden
          .uk-form-row.uk-text-center
            = f.input_field :first_name, label: false, placeholder: 'First Name',  class: 'uk-form-large uk-width-4-10'
            = f.input_field :last_name, label: false, placeholder: 'Last Name',  class: 'uk-form-large uk-width-4-10'
          .uk-form-row.uk-text-center
            = f.simple_fields_for :emails do |e|
              = e.input_field :address, label: false, placeholder: 'Email Address',  class: 'uk-form-large uk-width-8-10'
          .uk-form-row.uk-text-center
            = f.input_field :address1, label: false, placeholder: 'Street Address',  class: 'uk-form-large uk-width-8-10'
          .uk-form-row.uk-text-center
            = f.input_field :address2, label: false, placeholder: 'Apt/Suite (Optional)',  class: 'uk-form-large uk-width-8-10'
          .uk-form-row.uk-text-center
            = f.input_field :city, label: false, placeholder: 'City',  class: 'uk-form-large uk-width-4-10'
            = f.input_field :state, label: false, collection: CS.states(:us), prompt: 'State',  class: 'uk-form-large uk-width-2-10'
            = f.input_field :zip, label: false, placeholder: 'Zip',  class: 'uk-form-large uk-width-2-10'
          .uk-form-row.uk-text-center
            %hr
          = f.simple_fields_for :fc_questionaire do |q|
            .uk-form-row.uk-text-center
              %h3 How many children do you have?
              .uk-grid
                .uk-width-1-6
                  Ages 2-6
                .uk-width-1-6
                  = q.input :kids_2_6, collection: 0..6, value: 0, label: false
                .uk-width-1-6
                  Ages 7-12
                .uk-width-1-6
                  = q.input :kids_7_12, collection: 0..6, value: 0, label: false
                .uk-width-1-6
                  Ages 13-18
                .uk-width-1-6
                  = q.input :kids_13_18, collection: 0..6, value: 0, label: false
            .uk-form-row.uk-text-center
              %h3 How many devices do you want Kudoso to control?
              .uk-grid
                .uk-width-1-6
                  Mobile Devices (Phones/Tablets)
                .uk-width-1-6
                  = q.input :mobile_devices, collection: 0..10, value: 0, label: false
                .uk-width-1-6
                  Consumer Electronics (TV/Game Consoles)
                .uk-width-1-6
                  = q.input :consumer_electronics, collection: 0..10, value: 0, label: false
                .uk-width-1-6
                  Computers (Mac / Windows)
                .uk-width-1-6
                  = q.input :computers, collection: 0..10, value: 0, label: false
            .uk-form-row.uk-text-center
              %h3 What interests you most about Kudoso?
              = q.input :favorite_feature, label: false, collection: [ "Content Filtering",
                                                                       "Screen Time Management",
                                                                       "Task Management",
                                                                       "Learning (Academics and Life Skills)",
                                                                       "Positive Reinforcement / Rewards",
                                                                       "Simple and Easy to Use",
                                                                       "Robust reporting on content and apps"]
            .uk-form-row.uk-text-center
              %h3 Which would you prefer?
              %p
                Founder's Circle members don't have to pay a dime, but if you did have to, which of these
                options would you prefer:
              %p
                .uk-grid
                  .uk-width-1-2
                    %b Buy + Subscription
                    %br
                    Pay $180 one time for hardware + $10 / Month
                    %br
                    %label
                      = q.input_field :prefer_buy, label: false, checked: true
                      I prefer to BUY
                  .uk-width-1-2
                    %b Lease
                    %br
                    Pay $20 / Month ($10 Subscription + $10 Lease)
                    %br
                    %label
                      = q.input_field 'not_buy', label: false, as: :boolean, checked: false
                      I prefer to LEASE
            .uk-form-row.uk-text-center
              %h3 Any additional comments you have about Kudoso:
              = q.input :comments, placeholder: 'Comments', label: false
          .uk-form-row.uk-text-center
            %hr
          .uk-form-row.uk-text-center
            = f.submit "Register for Kudoso's Founder's Circle", class: 'uk-form-large uk-button uk-button-primary', data: {disable_with: "Submitting..."}