.marketing.container.clear
  .marketing-title
    .marketing-title-image
      %a{href: '/'}
        = image_tag 'KudosoLogo_300.png'
    .marketing-title-tagline
      Changing the way families
      %br
      manage technology
  #kudos-headline.marketing-headline
    .marketing-headline-header
      %span.hidden-xs
        Directed Engagement:
      %span.superbold
        Encourage, Learn and Earn
  = render partial: 'home/marketing_header'
  .marketing-intro
    .marketing-intro-header
      Kudos and Connected Partners
    .marketing-intro-body
      Kudoso allows kids to earn Kudos, a virtual currency, by growing and learning through Kudoso Connected
      Partners like Kahn Acedemy and FitBit.  Kids can then use Kudos to unlock new content, "buy" additional
      screen time, or trade-in Kudos with their parents for allowance or other real goods.  Kudos are the
      positive rewards that help parents encourage their children to expand and learn beyond electronics.
  .marketing-features.blue
    .row
      .col-xs-10.col-xs-offset-1
        .marketing-features-header
          %hr
        .marketing-features-title
          .marketing-features-title-inside.blue
            Learn & Earn
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-currency
          .feature-body
            .feature-title
              Kudos Virtual Currency
            gives kids the positives incentives they need to use electronics in a healthy way while also
            teaching life skills around budgeting, priorities and time management
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-connection
          .feature-body
            .feature-title
              Connected Partners
            like Kahn Academy and FitBit lead kids through healthy alternatives to screen time
            while encouraging growth, exploration and life-long learning
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-like
          .feature-body
            .feature-title
              Curated Content
            from Kudoso Connected Partners is available directly within the Kudoso app making it simple for
            kids to find what they like and explore new things at the same time
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-check
          .feature-body
            .feature-title
              Handling Chores
            and other tasks kids need to do is easy with Kudoso, kids are presented with a ToDo list that has
            both required and optional chores and screen time is locked until chores are done
    .row.features
      .col-md-5.col-xs-offset-1
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-smile
          .feature-body
            .feature-title
              Kids Play & Learn
            with the devices they are already using connected apps and content curated by Kudoso that
            is both FUN and educational
      .col-md-5.col-xs-offset-1.col-md-offset-0
        .feature-wrap
          .feature-icon
            %i.ss-glyphish-outlined.ss-creditcard
          .feature-body
            .feature-title
              Real Rewards
            can be offered to kids by allowing them to swap Kudos for real items like their allowance or
            merchandise from Amazon.com when parents choose to setup a Kudos Exchange
  .marketing-body
    .row
      .col-md-10.col-md-offset-1.col-xs-offset-0
        %h3 Kudos your kids will Love!
        Kudos are the heart of Kudoso, after all, that is where our name comes from!  Kudos are a virtual currency
        that parents use to encourage and direct their children.  We built Kudoso to avoid the negative Draconian
        style that most partental control apps employ.
        %p
          Specifically, Kudos are earned by kids for not only doing what they have to do, but by doing what we as
          parents WANT them to do.  Parents can setup
          = link_to 'ToDos', '#todos'
          that connect to activities provided by Kudoso Connected Partners and kids can earn Kudos by completing these
          activities.
    .row
      .col-md-4.col-md-offset-1.col-xs-offset-0
        = image_tag 'Khan-Academy-Logo.png', alt: 'Kahn Academy', class: 'img-responsive'
      .col-md-5.col-md-offset-1.col-xs-offset-0
        %h3
          Kudoso
          %span.feature-title
            Connected Partners
        Kudoso is a PLATFORM - that may not mean much written here, but when you and kids EXPERIENCE the full
        effects of the platform, we're sure you'll love it as much as we do.  Through Kudoso Connected Partners
        we are able to bring an unlimited world of content (apps, television, websites, movies, music & offline
        activities) to encourage, inspire, motivate and entertain your children the way you'd do it yourself, only
        easier!
        - # TODO: Add a CTA for integration suggestions
        %p
          %h4 Integrated Partners Include
          %ul.kudoso-bullets
            %li Kahn Academy
            %li Fit Bit
        %p
          Kudoso is constantly seeking and integrating new partners.  We can't list them all here yet, but check
          back regularly and see which new Connected Partners will be your favorite.

  #todos.marketing-features.green
    = render partial: 'home/todos', locals: { color: 'green'}
  = render partial: 'home/marketing_footer'


