%p#notice= notice

%p
  %b Name:
  = @router_model.name
%p
  %b Num:
  = @router_model.num

= link_to 'Edit', edit_admin_router_model_path(@router_model)
\|
= link_to 'Back', admin_router_models_path
