= simple_form_for [:admin, @task_group] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :rec_min_age
    = f.input :rec_max_age
    = f.input :active
    = field_set_tag  do
      = f.association :task_templates, as: :check_boxes, label: "Task's in this group", label_method: :label
      = link_to_add_association 'Add new task template', f, :task_templates, partial: 'admin/task_templates/task_template_fields'
  .form-actions
    = f.submit 'Save'
