%h1 Kudoso Task Groups


- @task_groups.each do |task_group|
  .panel
    %h2=task_group.name
    %h3
      For ages #{task_group.rec_min_age} to #{task_group.rec_max_age}
    -if current_user.admin?
      %p
        = task_group.active
    %p
      Task's in group:
      %ul.inline.even
        - task_group.task_templates.each do |task_t|
          %li
            = render task_t
    %p
      - if current_user.admin?
        Actions:
        %br
        = link_to 'Show', task_group
        |
        = link_to 'Edit', edit_task_group_path(task_group)
        |
        = link_to 'Destroy', task_group, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - if @family.present? && can?(:create, Task)
        = simple_form_for( task_group, url: assign_family_task_group_path(@family, task_group), method: :post) do |f|
          = f.input :member_ids, as: :check_boxes, collection: @family.members.kids, value_method: :id, label_method: :full_name, label: 'Auto assign to these family members:'
          = f.submit 'Assign to family'
%br

= link_to 'New Task group', new_task_group_path
