.uk-panel.uk-panel-box.uk-panel-box-primary
  .uk-panel-title
    = task_schedule.task.name
  = "(#{task_schedule.start_date.to_formatted_s(:pretty_date)}"
  = task_schedule.end_date.present? ? " - #{task_schedule.end_date.to_formatted_s(:pretty_date)})" : ' - forever)'
  .schedule.uk-width-1-3
    Scheduled for:
    - task_schedule.schedule_rrules.each_with_index do |rule, idx|
      = " & " unless idx == 0
      - rrule = IceCube::Rule.from_yaml(rule.rrule)
      = rrule.to_s
  .actions.uk-width-1-3
    = link_to 'Edit schedule', edit_family_task_task_schedule_path(@family, task_schedule.task, task_schedule)
    - if task_schedule.end_date.present? && task_schedule.end_date > Time.now
      %br
      = link_to 'Delete schedule', family_task_task_schedule_path(@family, task_schedule.task, task_schedule), method: :delete, confirm: "Are you sure?"
