= simple_form_for @todo_group do |f|
  - if @todo_group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo_group.errors.count, "error")} prohibited this todo_group from being saved:"
      %ul
        - @todo_group.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name
  .field
    = f.input :rec_min_age
  .field
    = f.input :rec_max_age
  .field
    = f.input :active
  .field
    = field_set_tag  do
      = f.association :todo_templates, as: :check_boxes, label: "Todo's in this group", label_method: :label
      = link_to_add_association 'Add new todo template', f, :todo_templates, partial: 'todo_templates/todo_template_fields'
  .actions
    = f.submit 'Save'
