%h1 Listing todo_groups

%table
  %tr
    %th Name
    %th Rec min age
    %th Rec max age
    %th Active
    %th
    %th
    %th

  - @todo_groups.each do |todo_group|
    %tr
      %td= todo_group.name
      %td= todo_group.rec_min_age
      %td= todo_group.rec_max_age
      %td= todo_group.active
      %td= link_to 'Show', todo_group
      %td= link_to 'Edit', edit_todo_group_path(todo_group)
      %td= link_to 'Destroy', todo_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Todo group', new_todo_group_path
