= simple_form_for [:admin, @ticket] do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.association :assigned_to, collection: User.where(admin: true), label_method: :full_name
  .field
    = f.association :user, collection: User.where.not(admin: true)
  .field
    = f.association :contact, collection: Contact.all, label_method: ->(obj){ "#{obj.full_name}#{ obj.member.present? ? " (#{obj.member.family.name})" : '' }" }, allow_blank: false
  .field
    = f.association :ticket_type
  .actions
    = f.submit 'Save'