.panel
  .simple-wrap
    %ul.nav.nav-tabs
      - @ticket_types.each do |tt|
        - if tt.id == @ticket_type.id
          %li.active{role: 'presentation'}
            %a{href: '#'} #{tt.name}
        -else
          %li{role: 'presentation'}
            = link_to tt.name, admin_tickets_path(ticket_type_id: tt.id)
  .simple-wrap
    %ul.nav.nav-tabs
      - if params[:open]
        %li.active{role: 'presentation'}
          %a{href: '#'} Open Tickets
        %li{role: 'presentation'}
          = link_to 'Closed Tickets',   admin_tickets_path(ticket_type_id: params[:ticket_type_id], open: false)
      -else
        %li{role: 'presentation'}
          = link_to 'Open Tickets',   admin_tickets_path(ticket_type_id: params[:ticket_type_id])
        %li.active{role: 'presentation'}
          %a{href: '#'} Closed Tickets
  .simple-wrap
    %ul.nav.nav-tabs
      - if params[:assigned_to_id].to_i == current_user.id
        %li{role: 'presentation'}
          = link_to 'All Tickets',   admin_tickets_path(ticket_type_id: params[:ticket_type_id], open: params[:open])
        %li.active{role: 'presentation'}
          %a{href: '#'} My Tickets
      -else
        %li.active{role: 'presentation'}
          %a{href: '#'} All Tickets
        %li{role: 'presentation'}
          = link_to 'My Tickets',   admin_tickets_path(ticket_type_id: params[:ticket_type_id], open: params[:open], assigned_to_id: current_user.id)

  .simple-wrap
    = paginate @tickets
    %table.uk-table.uk-table-striped
      %tr
        %th Assigned to
        %th User
        %th Contact
        %th Type
        %th Openned
        %th Closed
        %th Status
        %th
        %th
        %th

      - @tickets.each do |ticket|
        %tr
          %td= ticket.assigned_to.try(:full_name)
          %td= ticket.user_id
          %td= ticket.contact.try(:full_name)
          %td= ticket.ticket_type.name
          %td= ticket.date_openned
          %td= ticket.date_closed
          %td= ticket.status
          %td= link_to 'Details', [:admin, ticket]
          %td= link_to 'Edit', edit_admin_ticket_path(ticket)


    %br
    = paginate @tickets
    %br
    = link_to 'New Ticket', new_admin_ticket_path, class: 'uk-button uk-button-primary'