%h1 Listing devices

%table.table.table-striped
  %tr
    %th ID
    %th Name
    %th Device type
    %th Managed
    %th Management
    %th Default / Primary user
    %th Manages
    %th UUID / UDID
    %th
    %th
    %th

  - @devices.each do |device|
    %tr
      %td= device.id
      %td= device.name
      %td= "#{device.device_type_id} #{device.device_type.name}"
      %td= device.managed
      %td= device.management_id ? "#{device.management_device.name}" : 'None'
      %td= device.primary_member_id ? device.primary_member.full_name : 'None'
      %td
        - device.managed_devices.each_with_index do |dev, idx|
          - if idx > 1
            %br
          = link_to "(#{dev.id}) #{dev.name}", admin_device_path(dev)
      %td= "#{device.uuid} / #{device.udid}"
      %td= link_to 'Show', admin_device_path(device)
      %td= link_to 'Edit', edit_admin_device_path(device)
      %td= link_to 'Destroy', admin_device_path(device), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_admin_device_path
