%p#notice= notice

%p
  %b Name:
  = @theme.name
%p
  %b Primary color:
  = @theme.primary_color
%p
  %b Secondary color:
  = @theme.secondary_color
%p
  %b Primary Background color:
  = @theme.primary_bg_color
%p
  %b Secondary Background color:
  = @theme.secondary_bg_color

= link_to 'Edit', edit_admin_theme_path(@theme)
\|
= link_to 'Back', admin_themes_path
