= simple_form_for [:admin, @todo_template] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.label :schedule
    = f.select_recurring :rule, nil, :allow_blank => true
    = f.input :disabled

  .form-actions
    = f.submit 'Save'