%h1 Kudoso Router Firmware

%table.table.table-striped
  %thead
    %tr
      %th Router model
      %th Version
      %th Url
      %th Checksum
      %th Notes
      %th
      %th

  %tbody
    - @router_firmwares.each do |router_firmware|
      %tr
        %td= router_firmware.router_model.try(:name)
        %td= router_firmware.version
        %td= router_firmware.url
        %td= router_firmware.checksum
        %td= router_firmware.notes
        %td= link_to 'Edit', edit_admin_router_firmware_path(router_firmware)
        %td= link_to 'Destroy', admin_router_firmware_path(router_firmware), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Router firmware', new_admin_router_firmware_path
