%p#notice= notice

%p
  %b Router model:
  = @router_firmware.router_model_id
%p
  %b Version:
  = @router_firmware.version
%p
  %b Url:
  = @router_firmware.url
%p
  %b Checksum:
  = @router_firmware.checksum
%p
  %b Notes:
  = @router_firmware.notes

= link_to 'Edit', edit_admin_router_firmware_path(@router_firmware)
\|
= link_to 'Back', admin_router_firmwares_path
