.todo_schedule
  .name
    = todo_schedule.todo.name
  .date
    = "(#{todo_schedule.start_date}"
    = todo_schedule.end_date.present? ? " - #{todo_schedule.end_date})" : ' - forever)'
  .schedule
    Scheduled for:
    - todo_schedule.schedule_rrules.each_with_index do |rule, idx|
      = " & " unless idx == 0
      - rrule = IceCube::Rule.from_yaml(rule.rrule)
      = rrule.to_s
  .actions
    = link_to 'Edit schedule', edit_family_todo_todo_schedule_path(@family, todo_schedule.todo, todo_schedule)
    - if todo_schedule.end_date.present? && todo_schedule.end_date > Date.today
      %br
      = link_to 'Delete schedule', family_todo_todo_schedule_path(@family, todo_schedule.todo, todo_schedule), method: :delete, confirm: "Are you sure?"
