%h1 Listing Avatars

%table.uk-table.uk-table-striped
  %thead
    %tr
      %th Image
      %th Name
      %th Gender
      %th Theme
      %th
      %th
      %th

  %tbody
    - @avatars.each do |avatar|
      %tr
        %td= image_tag avatar.image.url(:small)
        %td= avatar.name
        %td= avatar.gender
        %td= avatar.theme_id
        %td= link_to 'Show', admin_avatar_path(avatar)
        %td= link_to 'Edit', edit_admin_avatar_path(avatar)
        %td= link_to 'Destroy', admin_avatar_path(avatar), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Avatar', new_admin_avatar_path