= form_for @activity do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :member_id
    = f.number_field :member_id
  .field
    = f.label :family_activity_id
    = f.number_field :family_activity_id
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :duration
    = f.number_field :duration
  .field
    = f.label :device_id
    = f.number_field :device_id
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'