%h1 Listing activities

%table
  %tr
    %th Member
    %th Family activity
    %th Date
    %th Duration
    %th Device
    %th Notes
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.member_id
      %td= activity.family_activity_id
      %td= activity.date
      %td= activity.duration
      %td= activity.device_id
      %td= activity.notes
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path