%p#notice= notice

%p
  %b Member:
  = @activity.member_id
%p
  %b Family activity:
  = @activity.family_activity_id
%p
  %b Date:
  = @activity.date
%p
  %b Duration:
  = @activity.duration
%p
  %b Device:
  = @activity.device_id
%p
  %b Notes:
  = @activity.notes

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path