
.row
  .col-md-4.col-md-offset-1
    %h3 Add Family Member:
.row
  .col-md-2.col-md-offset-1
    First name:
    = text_field_tag 'member_first_name'
  .col-md-2
    Birth Date
    = text_field_tag 'member_birth_date', nil, placeholder: 'MM/DD/YYYY'
  .col-md-2
    Password (optional):
    = text_field_tag 'member_password', '1234'
  .col-md-1
    Parent?
    = check_box_tag 'member_parent'
  .col-md-1
    %button#add_member.btn.btn-default{onclick: 'add_member();'}
      Add Member

%hr
.row
  .col-xs-10.col-xs-offset-1
    %h3 Family Members:
.row
  .col-xs-10.col-xs-offset-1
    .family_members
      %ul
        = render current_user.family.members
:javascript
  function save_info(args) {
    $.ajax({
      url: '/wizard',
      dataType: 'json'
      method: 'PUT',
      data: {
        step: 2
      },
      success: function() {
        args && args.success && args.success();
      },
      error: function(e) {
        alert("Sorry, there was an error saving your information.");
      }

    });

  }