= simple_form_for(@router_firmware) do |f|
  = f.error_notification

  .form-inputs
    = f.input :router_model_id
    = f.input :version
    = f.input :url
    = f.input :notes

  .form-actions
    = f.button :submit
