= simple_form_for [:admin,@device_type] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :os
    = f.input :version

  .form-actions
    = f.button :submit

