= simple_form_for [:admin,@device_type], wrapper: :form_stacked, html: { class: 'uk-form uk-form-stacked' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :os
    = f.input :version
    = f.input :icon

  .form-actions
    = f.button :submit, class: 'uk-button'
