- if member_signed_in? || user_signed_in?

  - if user_signed_in?
    - if current_user.admin?
      %li.has-dropdown
        %a{ href: '#'} Admin
        %ul.dropdown
          %li= link_to('All Contacts', admin_contacts_path)
          %li= link_to('All Families', admin_families_path)
          %li= link_to('ToDo Templates', admin_todo_templates_path)
          %li= link_to('ToDo Groups', admin_todo_groups_path)
          %li= link_to('Device Types', admin_device_types_path)
          %li= link_to('Activity Templates', admin_activity_templates_path)

    %li= link_to('My Family', family_path(current_user.family)) if current_user.member.try(:parent?)

    %li= link_to("Logout (#{current_user.try(:member).try(:first_name) || 'user'})", destroy_user_session_path, :method => :delete)
  - else
    %li= link_to 'My Dashboard', [current_member.family, current_member]  if current_member
    %li= link_to("Logout (#{current_member.first_name})", destroy_member_session_path(id: current_member.family_id), :method => :delete)


- else
  %li= link_to('Parent Sign In', new_user_session_path)
  - if cookies.signed[:kudoso_family].present?
    %li= link_to('Child Sign In', new_member_session_path(id: cookies.signed[:kudoso_family]))
  - else
    %li= link_to('Sign Up', new_user_registration_path)