!!!
%html
  %head
    %link{:href => "/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Kudoso"
    %meta{:content => content_for?(:description) ? yield(:description) : "Kudoso helps parents manage screen time across all technology in the house, filter internet content and provide a positive reward for children.", :name => "description"}/
    %meta{:content => content_for?(:keywords) ? yield(:keywords) : "Kudoso, kids, children, screentime, screen time, parental controls, content filtering, internet filter, game console, mobile, limit internet access, block applications, monitor usage", :name => "keywords"}/
    = stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'ss-glyphish-outlined', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'ss-social-circle', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :modernizr
    %script{src: "//use.typekit.net/cbr8hdy.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body#page-top{data: {spy: "scroll", target: ".navbar-fixed-top"} }
    - if controller_name != 'home' && action_name != 'landing'
      %header
      = render 'layouts/navigation'
    #main
      - if controller_name == 'home'
        = render 'layouts/messages'
        = yield
      - else
        .container
          = render 'layouts/messages'
          = yield
    #footer.container
      #footer-social
        .social-link
          = link_to 'http://www.facebook.com/pages/Kudoso/549419865079553' do
            %i.ss-social-circle.ss-facebook
        .social-link
          =link_to 'https://twitter.com/Kudosokids' do
            %i.ss-social-circle.ss-twitter
      #footer-body.row
        .col-sm-4.text-sm-left
          = link_to 'Privacy Policy', '/privacy'
        .col-sm-4
          = image_tag 'KudosoLogo_150.png'
        .col-sm-4.text-sm-right
          &copy; 2014 - 2015 Kudoso Tech, LLC
      #footer-bottom.row
        .col-sm-6.text-sm-left
          Kahn Academy and FitBit are registered trademarks of their respective companies
        .col-sm-6.text-sm-right
          Kudoso &reg; is a registered trademark of Kudoso Tech, LLC; All Rights Reserved.
          %br
          Kudoso is protected by multiple pending patents.

    = javascript_include_tag :application, media: :all, 'data-turbolinks-track' => true
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62781113-1', 'auto');
      ga('send', 'pageview');