!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Kudoso"
    %meta{:content => content_for?(:description) ? yield(:description) : "Kudoso", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -if current_page?('/') #unless current_page?(controller: 'home', action: 'index')
      %main{:role => "main"}
        = render 'layouts/messages'
        = yield
    -else
      .blur
        %header
          = render 'layouts/navigation'
        %main{:role => "main"}
          .row
            .col-xs-12
              = render 'layouts/messages'
              = yield
