.authform
  = simple_form_for([@family,@member]) do |f|
    - if @member.errors.any?
      #error_explanation
        %h2
          = pluralize(@member.errors.count, "error")
          prohibited this household from being saved:
        %ul
          - @member.errors.full_messages.each do |message|
            %li= message
    = f.simple_fields_for :contact do |c|

      .field
        = c.input :first_name
      .field
        = c.input :last_name
    .field
      = f.input :username, placeholder: 'Enter a username unique to your family, usually the first name'
    .field
      = f.input :birth_date
    .field
      = f.input :password, placeholder: 'For younger kids, choose a simple word or 4 digit pin number as a password'
    .field
      = f.input :password_confirmation
    - if current_user.member.parent?
      .field
        = f.input :parent
    .field
      = f.button :submit,  :class => 'button right'