%h1= @family.name
%h2= "#{@member.full_name}'s Dashboard"

.row
  .medium-12.columns
    Kudos:
    #kudos
      #{@member.kudos}

.row
  .medium-6.columns
    .todo_header
      Todo Schedule (Today):
    .todo_wrap
      = render @member.todos

  .medium-6.columns
    .todo_header
      Todo Schedule (Tomorrow):
    .todo_wrap
      = render @member.todos(Date.tomorrow, Date.tomorrow)

%hr
#charts_wrap
  = render 'charts'

%hr
%dl.accordion{ "data-accordion" => 'TodoHistory' }
  %dd.accordion-navigation
    %a{ href: '#todo_history'}
      Todo Details
      %span.fa.accordion-icon
    #todo_history.content
      = render 'details'

%p= link_to 'Edit Member Information', edit_family_member_path(@family, @member)
%p= link_to 'Back', @member.family
