%h1= @family.name
%h2= "#{@member.full_name}'s Dashboard"

.row
  .medium-6.columns
    Todo Schedule (Today):
    = render @member.todos

  .medium-6.columns
    Todo Schedule (Tomorrow):
    = render @member.todos(Date.tomorrow, Date.tomorrow)

%hr
#charts_wrap
  = render 'charts'

%p= link_to 'Edit Member Information', edit_family_member_path(@family, @member)
%p= link_to 'Back', @member.family
