%h1= @family.name
%h2
  = best_in_place [@family, @member], :first_name
  = best_in_place [@family, @member], :last_name
.row
  .medium-3.columns
    Kudos:
    #kudos
      #{@member.kudos}
  .medium-3.columns
    Max Screen Time:
    .screen_time
      #{format_counter @member.get_max_screen_time}
  .medium-3.columns
    Available Screen Time:
    .screen_time
      #{format_counter @member.get_available_screen_time}
  .medium-3.columns
    Screen Time Overrides:
    %ul
      - @member.st_overrides.today.each do |sto|
        %li
          + #{format_counter_min(sto.time)}
          = "(#{sto.comment})" unless sto.comment.blank?
      -if  @member.st_overrides.today.count == 0
        %li No overrides today
      - if can?(:create, StOverride)
        %li= link_to 'Add Screen Time Override', new_family_member_st_override_path(@family, @member)
%hr
.row
  .medium-6.columns
    .todo_header
      Todo Schedule (Today):
    .todo_wrap
      - @member.todos.each do |my_todo|
        %div{ id: "todo_wrap_#{my_todo.todo_schedule_id}" }
          = render my_todo

  .medium-6.columns
    .todo_header
      Todo Schedule (Tomorrow):
    .todo_wrap
      = render @member.todos(Date.tomorrow, Date.tomorrow)

%hr
#charts_wrap
  = render 'charts'

%hr
%dl.accordion{ "data-accordion" => 'TodoHistory' }
  %dd.accordion-navigation
    %a{ href: '#todo_history'}
      Todo Details
      %span.fa.accordion-icon
    #todo_history.content
      = render 'details'

%hr
%h2 Activities
- if @member.current_activity
  In activity #{@member.current_activity.family_activity.name}
  = link_to "Stop #{@member.current_activity.family_activity.name}", family_member_activity_path(@family, @member, @member.current_activity, stop: true), method: :put


- else
  %ul#family_activities_list
    = render partial: 'family_activities/family_activities_list', locals: { member: @member, family_activities: @family.family_activities }

%p= link_to 'Edit Member Information', edit_family_member_path(@family, @member)
%p= link_to 'Back', @member.family